.Button{
    background-color: #3540e4;
    border: 1px solid grey;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}

.Center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
}

.Success {
    color: #5c9210;
}

.Primary {
    color: #dedff0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Danger {
    color: #944317;
}

.Button:disabled{
    color: #ccc;
    cursor: not-allowed;
}